header {
  nav {
    background: linear-gradient(180deg, #4b2e05e8 0%, #7b5e2a 100%);
    img {
      width: 50px;
      height: 50px;
    }
    div {
      ul {
        gap: 10px;
        .nav-item {
          .texts_header {
            font-family: "vazirmatn";
            color: #e6d5b8 !important;
            letter-spacing: 0;
            transition: all 0.2s linear;
            &:hover {
              color: #d4af37;
              letter-spacing: 10;
              font-weight: 600;
              transform: scale(1.15);
            }
          }
        }
      }
    }
    .login_box {
      width: 120px;
      height: 40px;
      border: 1px solid #c2a57e;
      background: transparent;
      .flex_text {
        line-height: 30px;
        a {
          color: #e6d5b8;
          font-family: "vazirmatn";
          transition: all 0.2s linear;
           letter-spacing: 0;
          &:hover {
            color: #d4af37;
            letter-spacing: 10;
            font-weight: 600;
            transform: scale(1.15);
          }
        }
      }
    }
  }
}
/*Responsive Size*/
@media screen and (max-width: 540px) {
  header {
    nav {
      background: linear-gradient(180deg, #4b2e05e8 0%, #7b5e2a 100%);
      img {
        width: 50px;
        height: 50px;
      }
      div {
        ul {
          gap: 10px;
          .nav-item {
            .texts_header {
              font-family: "vazirmatn";
              color: #e6d5b8 !important;
              letter-spacing: 0;
              transition: all 0.2s linear;

              &:hover {
                color: #d4af37;
                letter-spacing: 10;
                font-weight: 600;
                transform: scale(1.05);
              }
            }
          }
        }
      }
      .login_box {
        width: 120px;
        height: 40px;
        border: 1px solid #c2a57e;
        background: transparent;
        display: none;
        .flex_text {
          line-height: 30px;
          a {
            color: #e6d5b8;
            font-family: "vazirmatn";
          }
        }
      }
    }
  }
}
@media (min-width: 540px) and (max-width: 768px) {
  header {
    nav {
      background: linear-gradient(180deg, #4b2e05e8 0%, #7b5e2a 100%);
      img {
        width: 50px;
        height: 50px;
      }
      div {
        ul {
          gap: 10px;
          .nav-item {
            .texts_header {
              font-family: "vazirmatn";
              color: #e6d5b8 !important;
              letter-spacing: 0;
              transition: all 0.2s linear;

              &:hover {
                color: #d4af37;
                letter-spacing: 10;
                font-weight: 600;
                transform: scale(1.05);
              }
            }
          }
        }
      }
      .login_box {
        width: 120px;
        height: 40px;
        border: 1px solid #c2a57e;
        background: transparent;
        display: none;
        .flex_text {
          line-height: 30px;
          a {
            color: #e6d5b8;
            font-family: "vazirmatn";
          }
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  header {
    nav {
      background: linear-gradient(180deg, #4b2e05e8 0%, #7b5e2a 100%);
      img {
        width: 50px;
        height: 50px;
      }
      div {
        ul {
          gap: 10px;
          .nav-item {
            .texts_header {
              font-family: "vazirmatn";
              color: #e6d5b8 !important;
              letter-spacing: 0;
              transition: all 0.2s linear;

              &:hover {
                color: #d4af37;
                letter-spacing: 10;
                font-weight: 600;
                transform: scale(1.02);
              }
            }
          }
        }
      }
      .login_box {
        width: 120px;
        height: 40px;
        border: 1px solid #c2a57e;
        background: transparent;

        .flex_text {
          line-height: 30px;
          a {
            color: #e6d5b8;
            font-family: "vazirmatn";
          }
        }
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  header {
    nav {
      background: linear-gradient(180deg, #4b2e05e8 0%, #7b5e2a 100%);
      img {
        width: 50px;
        height: 50px;
      }
      div {
        ul {
          gap: 10px;
          .nav-item {
            .texts_header {
              font-family: "vazirmatn";
              color: #e6d5b8 !important;
              letter-spacing: 0;
              transition: all 0.2s linear;

              &:hover {
                color: #d4af37;
                letter-spacing: 10;
                font-weight: 600;
                transform: scale(1.15);
              }
            }
          }
        }
      }
      .login_box {
        width: 120px;
        height: 40px;
        border: 1px solid #c2a57e;
        background: transparent;

        .flex_text {
          line-height: 30px;
          a {
            color: #e6d5b8;
            font-family: "vazirmatn";
          }
        }
      }
    }
  }
}
@font-face {
  font-family: "vazirmatn";
  src: url(../Fonts/Vazirmatn-Regular.ttf);
}
